
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f8ff;
    }
    table {
      width: 70%;
      margin: 50px auto;
      border-collapse: collapse;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    th, td {
      border: 1px solid #999;
      padding: 12px;
      text-align: center;
    }
    th {
      background-color:lightcoral;
      color: white;
    }
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    tr:hover {
      background-color: #d1e7dd;
    }